.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  padding: 30px 32px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.cart-icon {
  margin-left: 16px;
  z-index: 99;
  position: relative;
}
.cart-count {
  @media (min-width: 992px) {
    display: none;
  }
  @media (max-width: 991px) {
    display: block;
    position: absolute;
    background: white;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    width: 24px;
    border-radius: 50%;
    top: -6px;
    right: -9px;
  }
}
.products-wrapper {
  padding-top: 98px;
  background: whitesmoke;
  min-height: 100vh;
  @media (max-width: 991px) {
    padding-top: 68px;
  }
  @media (max-width: 480px) {
    padding-top: 52px;
  }
}
.card {
  display: flex;
  justify-content: center;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
  font-size: 12px;
  background: #ff0000;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -20px;
}
.image {
  overflow: hidden;
  border-radius: 2px 2px 0 0;
  cursor: zoom-in;
  width: 100%;
  height: auto;
  transition: transform 0.2s; /* Animation */
  transform: scale(1);
}
@media (min-width: 991px) {
  .image {
    min-height: 200px;
  }
}
.image:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.font {
  font-size: 17px;
}
.icon {
  display: flex;
  align-items: center;
}

.product-card {
  margin: 15px;
}
.prod-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .product-card {
    margin: 0;
  }
}
